

.register-field {
    width: 90%;
    height: 120vh;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tittleMain {
    height: 8%;
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.tittleMain h1 {
    font-size: 6vh;
}

.btn-regist {
    width: 40%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 10px;
    border: 1px;
    border-radius: 5px;
    background-color: #5200FF;
}

.btn-regist:hover {
    background-color: #6b2feb;
}
